*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 200vh;
    background-color: #f2f2f2;
}

.header {
    display: flex;
    background-color: #8EACBF;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    align-items: center;
    position: sticky;
  
}

.header img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.container  {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    
}

.banner {
    background-image: linear-gradient(to top, black, transparent), url(../imgs/banner.png);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
    height: 75%;
    position: absolute;
    z-index: 1;
}

.avatar {
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    background-image: url(../imgs/avatar.png);
    background-position: center center;
    background-size: contain;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 35%;

}

.nome {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 15vh;
    position: absolute;
    z-index: 2;
    left: 20%;
    top: 45%;
    color: #f2f2f2;
    font-size: 50px;
    font-weight: bold;
    
}

.container.cadastro {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: #8EACBF;
    align-self: center;
    justify-self: center;
    border-radius: 25px;
}

.titulo.cadastro{
    color: #0D0D0D;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 24px;
}

.checks.cadastro {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.check {
    display: flex;
    margin-top: 30px;
    background-color: #f2f2f2;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.produto p, .dinheiro p {
    width: 80%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: bold;
    color: #0D0D0D;
    font-size: 24px;
}

#produtocheck, #dinheirocheck{
    width: 20%;
    height: 50%;
    align-self: center;
}

.droplists.cadastro {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.droplist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #f2f2f2;
    width: 650px;
    min-height: 60px;
    border-radius: 10px;
    max-width: 650px; 

}

.droplistp {
    text-align: left;
    font-weight: bold;
    width: 100%;
    color: #0D0D0D;
    font-size: 24px;
    margin-inline: 10px;
    margin: 10px;
    direction: rtl;
}

details p {
    word-break: break-word;
    margin-top: 20px;
}

summary {
    cursor: pointer;
    direction: rtl;
    text-align: left;
    list-style: none;
}

details[open] summary::after {
    content: "▲";
    font-size: 2rem;
    position: absolute;
    right: 25px;
    margin-right: 10px;
    margin-top: -4px;
}

summary::after {
    content: "▼";
    font-size: 2rem;
    position: absolute;
    right: 25px; 
    margin-right: 10px;
    margin-top: -4px;
}

.pix-symbol {
    width: 45px;
    height: 45px;
    background-image: url('../imgs/pix.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 30px auto 10px auto;
}

.cad-mon-ttl {
    text-align: center;
    margin-bottom: 10px;
}

input {
    direction: ltr;
}

.pix-inp-box {
    height: 42px;
    width: 437px;
    border-radius: 20px;
    display: flex;
    outline: none;
    font-size: 16px;
    transition: all .3s ease-out;
    text-align: center;
    margin: auto;
    background-color: #ffffff;
}

.bank-inp-box{
    height: 42px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    outline: none;
    font-size: 16px;
    transition: all .3s ease-out;
    text-align: center;
    margin: auto;
    background-color: #ffffff;
}

.cad-mon-text{
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    left: 44.5px;
}

.button-box {
    display: flex;              /* Adiciona o flex container */
    margin: 60px auto 10px auto;
    width: 600px;
}

.button {
    position: relative;
    background-color: #8EACBF;
    width: 180px;
    min-height: 42px;
    margin-left: 20px;
    border-radius: 10px;
    left: 0px;
}

.button-mon-text {
    position: relative;
    text-align: center;
    margin: 5px 5px 5px 5px;
}