* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00ccff;
  min-height: 80px;
  width: 100%;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 90%;
}

.mqa {
  max-height: 60px;
  max-width: 60px;
}