* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00ccff;
  min-height: 80px;
  width: 100%;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 90%;
}

.mqa {
  max-height: 60px;
  max-width: 60px;
}

/*Divs referentes a parte do banner e da foto de perfil*/
.banner-do-perfil {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
}

.banner-perf-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 448px;
}

.img-perf-box {
  position: absolute;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 9.03%;
  margin-top: 422px;
}

.imagem-do-perfil {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}