@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00ccff;
  min-height: 80px;
  width: 100%;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 90%;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  margin: 0px 10px;
  padding: 10px;
}

.mqa {
  max-height: 60px;
  max-width: 60px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 340px;
  max-height: 365px;
  border-radius: 20px;
  box-shadow: 0px 4px 250px 10px #00000026;
}

.card-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.card-input {
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border-color: #b0b0b0;
  background-color: #f4f4f4;
  border-style: solid;
  margin-bottom: 20px;
  margin-top: 5px;
}

label {
  font-weight: bold;
}

.card-button {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #00ccff;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.card-button:hover{
  border: #00ccff solid;
  background-color: #ffffff;
  color: #00ccff;
  cursor: pointer;
  transition: 0.3s;
}