@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}
  
.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 596px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #8EACBF;
    position: fixed;
    padding-top: 15px;
    padding-left: 60px;
    z-index: 1000;
}

.img{
    width: 100%;
    height: 494px;
    background-image: url(../img/coelho.png);
    max-width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    position: absolute;
    
}

.superior {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 510px;
   /* background-color:#f2f2f2*/
}

h1{
    margin-top: 70px;
    margin-bottom: 50px;
}

.card{
    width: 600px;
    height: 300px;
    background-color: #8EACBF;
    position: absolute;
    margin-top: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
}

table{
    padding-top: 30px;
}

.produto{
    padding-left: 100px;
}

.dinheiro{
    padding-left: 180px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}

h2 {
    text-align: left;
    margin: 0;
    padding: 0; /* Adiciona espaço superior e inferior */
    
}

.inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: #f2f2f2;*/
    padding: 20px; /* Adiciona espaçamento interno */
    display: none; /* Ocultar a parte inferior por padrão */ 
    opacity: 0; /* Inicialmente transparente */ 
    transition: opacity 0.5s ease; /* Transição suave para opacidade */
}

.inferior.show { 
    display: block; /* Mostrar a parte inferior */ 
    /*opacity: 1; /* Tornar opaco durante a transição */ 
}

.buttoncontainer{
    width: 100%;
    display: flex; 
    justify-content: space-between; /* Espaça os botões horizontalmente */ 
    align-items: flex-end; /* Alinha os botões na base */ 
    margin-top: auto; /* Empurra o container de botões para a base */
}

.button1, .button2 { 
    border: none;
    width: 300px; 
    height: 60px; 
    border-radius: 20px;
    font-size: 20px;
    position: relative;
} 

.button1 { 
    margin-left: 30px;
} 

.button2 { 
    margin-right: 30px;
}

.card2 {
    width: 798px;
    height: 500px;
    min-width: 500px;
    background-color: #8EACBF;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    padding: 20px; /* Adiciona espaçamento interno */
    margin-top: 0; /* Espaçamento entre h2 e card2 */
}

.box{
    margin-top: 56px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

.Back1{
    padding-left: 20px;
}

.Back2{
    padding-left: 12px;
}

.boxQuantidade{
    width: 200px;
    height: 45px;
    border: black 1px solid;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.boxNmproduto{
    padding-left: 5px;
    margin-left: 30px;
    width: 260px;
    height: 45px;
    border: black 1px solid;
    border-radius: 10px;
    padding-top: 10px;
}

.Descricao{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.h2descricao{
    margin: 0;
    padding: 0;
}

.Descricao input{
    height: 250px;
    width: 100%;
    border-radius: 20px;
    border: black 1px solid;
    display: inline-block;
    outline: none;
    font-size: 16px;
    transition: all .3s ease-out;
}

.Descricao input:focus{
    border: 2px solid black;
}



